/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Fjalla', sans-serif;

*/

*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: fjalla;
    src: url('../fonts/fjalla.otf');
    font-style: normal;
    font-weight: normal;
  }

/* BODY */
  body{
    font-family: fjalla, sans-serif;
  }

/* TOPO */
  .topo{

  }
    .topo .logo{
      position: relative;
    }
      .topo .logo a{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        max-width: 295px;
      }
        .topo .logo a img{

        }

/*RODAPÉ*/
  .rodape{

  }
  footer{

  }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial{
    
  }
    .pg-inicial .secao-destaque{
      position: relative;
    }
      .pg-inicial .secao-destaque .logo-king-queen{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translateX(-50%, -50%);
        -ms-transform: translateX(-50%, -50%);
        -o-transform: translateX(-50%, -50%);
        transform: translate(-50%, -50%);
      }
        .pg-inicial .secao-destaque .logo-king-queen img{
          width: 100%;
          max-width: 1050px;
        }
      .pg-inicial .secao-destaque .img-destaque{
        display: block;
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: -140px;
      }
        .pg-inicial .secao-destaque .img-destaque img{
          display: none;
        }
      .pg-inicial .secao-destaque .barra{
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        text-align: center;
      }
        .pg-inicial .secao-destaque .barra img{
          width: 100%;
          display: block;
        }
    .pg-inicial .secao-movimento{
      background-color: #000;
    }
      .pg-inicial .secao-movimento .texto{
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
      }
        .pg-inicial .secao-movimento .texto h1{
          font-family: fjalla, sans-serif;
          text-transform: uppercase;
          font-size: 68px;
          color: #e5b43d;
          margin: 0;
          padding: 105px 0 70px;
        }
        .pg-inicial .secao-movimento .texto p{
          font-family: fjalla;
          text-transform: uppercase;
          font-size: 34px;
          color: #fff;
          margin: 0;
          padding-bottom: 60px;
        }
          .pg-inicial .secao-movimento .texto p span{
            font-style: italic;
          }
      .pg-inicial .secao-movimento .imagem{
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: -106px;
        width: 100%;
        min-height: 100vh;
        display: block;
      }
        .pg-inicial .secao-movimento .imagem img{
          display: none;
        }
    .pg-inicial .secao-produtos{
      /* background-image: url(../img/background-produtos.png); */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      min-height: 100vh;
      padding: 95px 0;
    }
      .pg-inicial .secao-produtos h3{
        font-family: fjalla, sans-serif;
        text-transform: uppercase;
        font-size: 42px;
        margin: 0;
        padding-left: 44px;
      }
      .pg-inicial .secao-produtos .produtos{
        width: 100%;
        font-size: 0;
      }
        .pg-inicial .secao-produtos .produtos li{
          list-style: none;
          display: inline-block;
          width: 100%;
          max-width: 33.3%;
          text-align: center;
          margin: 18px auto;
        }
          .pg-inicial .secao-produtos .produtos li .produto{
            
          }
            .pg-inicial .secao-produtos .produtos li .produto img{
              width: 100%;
              max-width: 414px;
            }
            .pg-inicial .secao-produtos .produtos li .produto p{
              font-size: 33px;
              text-transform: uppercase;
              margin: 0;
              padding: 5px 0 0;
            }
            .pg-inicial .secao-produtos .produtos li .produto .preco{
              color: #e5b43d;
            }
            .pg-inicial .secao-produtos .produtos li .produto .modelo{

            }
            .pg-inicial .secao-produtos .produtos li .produto .modelo input[type="radio"]::before{
              content: "";
            }
            .pg-inicial .secao-produtos .produtos li .produto .btnComprar{
              font-size: 32px;
              border: none;
              background-color: #000;
              color: #fff;
              width: 100%;
              max-width: 195px;
              text-transform: capitalize;
              padding: 2px 0;
              margin: 3px auto 0;
            }

/*EXTRAS*/
.containerFull{
  width: 100%;
  max-width: 1510px;
  margin: 0 auto;
}

/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  
  }
  @media(max-width: 768px){
  
  }

  @media(max-width: 425px){
  
  }

  @media(max-width: 320px){
  
  }
